.popup__close-img {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

.popup__close-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__close-img {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
